
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

*{
    outline: 1px solid red;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    
    
    
}

.header{
    background-color: rgb(72, 72, 104);
    align-items: center;
}

    .wrapper{
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

        .links{
            display: flex;
            align-content: flex-end;
            
        }
            .link{
                margin: 0px 6px;
            }

.welcome{
    background-color: rgb(72, 72, 104);
}


.footer{
    background-color: rgb(72, 72, 104);
    align-items: center;
    justify-content: center;
}
