
* {
    outline: 1px solid red;

  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    font-display: center;

}

.container__wrapper {
    background-color: 0 0 0 0;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
}

.container-header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}


.header-left {
    display: flex;1
    align-items: flex-start;
    
}

.header-right {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.container--info {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info.right {
    padding-right: 100px;
}

.container--heads {
    display: flex;
    flex-direction: column;
}

.heads--headshot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.headshot--1 {
    width: 50px;
}
.headshot--2 {
    width: 50px;
}
.headshot--3 {
    width: 50px;
}


.container--contact{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.footer--ad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}